/*
- How did you decide on your site’s color scheme? 
      Answer: This site will not be too bright or too dark. I want my site to be as clean and pleasing to the eyes. 
      I will be using summer shades such as yellow, green, blue and gray. The site will have the feeling of accessibility to potential customers
      as well as a sense of happiness when buying something for their furry friends.
- Provide me with the color palette you will use within your site and provide the hexadecimals values for each color.
      Answer: #FBC326, #1D7D9E
- What areas of your site will be impacted by your color choice? 
      Answer: Background color for the header will have yellow color, fonts will be on the shade of blue. 
- What font(s) will you use for the ```<body>```(default declarations), ```<p>``` and ```<h1> - <h6>```
      Answer: Verdana. It gives width and space which makes the web content clear and readable.
- What are the different weights and sizes of the heading and paragraph tags?
      Answer: Header would have the largest size in the document. Navigation bar would have a bold weight for distinction.
- What is your desired line-height, word-spacing, and letter-spacing?
      Answer: line-height: 15-20px; word-spacing: 1px; letter-spacing: normal

*/

/*Verdana. It gives width and space which makes the web content clear and readable.  */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}


#banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 105px auto 15%;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
}

header {
      grid-area: header;
      display: inline-block;
      background-color: #FBC326;
      font-size: 3em;
      color: #1D7D9E;
}

img {
      display: block;
      width: 8.25%;
      margin: auto;
      float: left;
  }


main {
      grid-area: main;
}

#flexcontainer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
  }

main aside {
      height: 250px;
      padding: 10px;
      margin: 4% 2%;
}

[alt~="sale"] {
      width:300px;
      float: left;
}

[alt~="supplies"] {
      width: 450px;
      float: right;
      margin-left: 25px;
}

[alt~="rewards"] {
      width: 600px;
      float: center;
      margin-left: 25px;
}

footer {
      grid-area: footer;
}

#title {
      margin: 50px;
      padding: 5px 10px;
      font-size: 2em;
      text-align: center;
}

ul {
      list-style-type: none;
      overflow: hidden;
    }
    
li {
      float: left;
      padding: 14px 16px;
      border-right: 1px solid #bbb;
      font-size: 2em;
    }

li:hover {
      color: blue;
    }

.footer {
      width: auto;
      text-align: center;
  }

.footer .row ul li {
      display:block;
      margin:10px 0px;
      text-align:left;
      font-size: 1em;
}

@media screen and (max-width: 768px) {
      #navbar {
            float: none;
            width: 100%
        }
      
      aside {
           width: 50%;
      }
      
    }

@media screen and (min-width: 1024px) {
      aside {
            width: 100%;
        }

        #flexcontainer {
            background-size: auto;
        }
   }